<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
  <title>Chord List</title>
</head>
<body>
<section layout:fragment="admin-content">
  <div class="container mt-4">
    <h2>Chord List</h2>
    <p>Welcome to the chord management page! Here, you'll find a list of all the chords available in our database.
      You can view, edit, and delete each chord or add new ones as needed. The chords are organized alphabetically,
      making it easy to find exactly what you're looking for.</p>
  </div>
</section>
</body>
</html>
