<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">
<head>
    <title>Admin Login</title>
</head>
<body>
<section layout:fragment="content">
    <div style="margin: 30px">
        <form action="/admin/login" method="post">
            <label for="code" class="form-label">관리자 인증 코드를 입력하세요:</label>
            <input type="password" id="code" name="code" required/>
            <button type="submit">확인</button>
            <p style="color:red" th:if="${error}" th:text="${error}"></p>
        </form>
    </div>

</section>
</body>
</html>
